body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
    url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
    url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
    url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
    url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: ocr-a-std;
    src: url('../fonts/ocr-a-std.woff2') format("woff2"),
    url('../fonts/ocr-a-std.woff') format("woff"),
    url('../fonts/ocr-a-std.otf') format("opentype");
    font-weight: 400;
    font-style: normal;
}

button {
    cursor: pointer;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-lg {
    font-size: 1.33333333em;
    line-height: 0.75em;
    vertical-align: -15%;
}

.fa-check:before {
    content: "\f00c";
}

.fa-search:before {
    content: "\f002";
}

.fa-bolt:before {
    content: "\f0e7";
}

.fa-spinner:before {
    content: "\f110";
}

.fa-spin {
    animation: fa-spin 2s infinite linear;
}

@keyframes fa-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

h1 {
    font-family: "OCR A Std", ocr-a-std, "CourierNew", Courier, monospace;
    font-size: 5em;
    text-align: center;
    margin-top: 70px;
}

h1 a {
    color: black;
    text-decoration: none;
}

h1.detail {
    text-align: left;
    margin: 40px 0 40px 60px;
    font-size: 2em;
    font-weight: normal;
}

h1 span {
    color: #26AA4F;
}

div.credits {
    background: #777;
    padding: 10px;
    text-align: center;
}

div.credits a {
    display: inline-block;
    width: 300px;
}

form.search-box {
    text-align: center;
}

div.centre-search-box {
    padding-left: 20px;
    overflow: hidden;
    margin: 30px 0 120px 0;
    width: 600px;
    text-align: left;
    position: relative;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-shadow: 2px 2px 4px #666;
    font-size: 25px;
}

div.centre-search-box input {
    margin: 20px 30px 20px 10px;
    border: 0;
    width: 400px;
    font-size: 25px;
}

div.search-box-submit {
    position: absolute;
    font-size: 14px;
    right: -2px;
    top: -1px;
    bottom: -1px;
    width: 70px;
    background: #26aa4f;
    border: 2px solid #26aa4f;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

div.search-box-submit button {
    border: 0;
    background: none;
    margin: 0;
    font-size: 3em;
    line-height: 65px;
    color: #fff;
    padding: 0 0 0 12px;
}

div.search-box-submit button:active {
    padding: 2px 0 0 14px;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 1px 1cm 1px 1px;
}

.no-score,
.bad-score {
    color: #D10003;
}

.mediocre-score {
    color: #b3a100;
}

.good-score {
    color: #1d803b;
}

ul.messages {
    padding: 0;
    margin: 0;
}

ul.messages li {
    display: block;
    font-weight: bold;
    margin: 0;
    padding: 15px;
    background: #dfd;
    color: #333;
}

ul.messages li.warning {
    background: #ffc;
}

ul.messages li.error {
    background: #ffefef;
}

ul.errorlist {
    text-align: center;
    background: #ffefef;
}

.results {
    background: #BCB4B4 url(../img/shadow.png) repeat-x top;
    color: #fff;
    padding: 20px;
}

.retest {
    display: inline-block;
    vertical-align: middle;
}

.retest-button {
    border: 1px solid #26AA4F;
    border-radius: 40px;
    background-color: #26AA4F;
    font-size: 0.6em;
    line-height: 50px;
    color: #fff;
    padding: 10px 20px;
    margin: 0 20px 0 70px;
}

.retest-button .fa {
    font-size: 3em;
    display: inline-block;
    vertical-align: -20%;
}

.retest-button[disabled] {
    background-color: #999;
    border-color: #aaa;
    cursor: not-allowed;
}

.details-header {
    background: #a4a3a3 url(../img/shadow.png) repeat-x top;
    color: #fff;
    padding: 50px;
    font-size: 2em;
    letter-spacing: 0.05em;
    position: relative;
}

.details-header b {
    font-weight: 500;
}

table.measurement {
    width: 100%;
    border-collapse: separate;
    border-spacing: 50px 0;
}

table.measurement th,
table.measurement td {
    padding: 0;
    font-size: 1.6em;
    color: #7f7f7f;
    vertical-align: top;
}

table.measurement td.image {
    white-space: nowrap;
    border: 2px solid #c2c2c2;
    background: white;
}

table.measurement td.image img {
    vertical-align: middle;
    width: 100%;
}

table.measurement td.image a.overlay {
    position: relative;
    left: -100%;
}

table.measurement th {
    font-weight: 300;
    font-size: 2em;
    color: #4e4e4e;
}

table.measurement th[colspan] {
    padding: 20px 0 10px 0;
}

span.latencies {
    display: inline-block;
    width: 20%;
}

span.latencies span {
    margin-right: 0.5em;
}

table.measurement th.top {
    background: #c2c2c2;
    width: 33%;
    text-align: center;
    padding: 7px;
    color: white;
    font-size: 1.3em;
    font-weight: 500;
    position: relative;
}

table.measurement th.top div.image-score {
    position: absolute;
    right: -10px;
    top: -10px;
    height: 75px;
    width: 75px;
    border-radius: 100%;
    line-height: 73px;
    font-weight: normal;
    font-size: 25px;
    transform: rotate(20deg);
    color: white;
    text-align: center;
    z-index: 999;
}

table.measurement td.separator {
    padding: 10px 0;
}

table.measurement td.separator hr {
    border: 1px solid #c2c2c2;
}

table.measurement td.score-bar {
    white-space: nowrap;
}

table.measurement td.score-bar div.score-bar {
    border-radius: 20px;
    background: #bababa;
    width: 100%;
    height: 40px;
    box-shadow: 0 3px 6px #999;
    margin-bottom: 20px;
}

table.measurement td.score-bar div.score-bar div {
    height: 100%;
    border-radius: 20px;
    text-align: right;
    color: white;
    font-size: 25px;
    line-height: 40px;
    padding-right: 10px;
    box-sizing: border-box;
}

.last-test {
    vertical-align: bottom;
    font-size: 0.6em;
    position: absolute;
    right: 40px;
    top: 70px;
    text-align: right;
    font-weight: 300;
}

.filter-results,
.page {
    text-align: center;
    line-height: 17px;
    display: inline-block;
    text-decoration: none;
    border-radius: 30px;
    border: none;
    background-color: #878787;
    color: #fff;
    padding: 10px;
    font-size: 1em;
    min-width: 70px;
    opacity: 0.3;
    margin: 0 10px 0 10px;
}

.filter-results.selected {
    opacity: 1;
}

.filter-results:hover,
.page:hover {
    opacity: 1;
}

.poor {
    background-color: #D10003;
}

.mediocre {
    background-color: #E1D400;
}

.mediocre2 {
    background-color: #ba9d21;
}

.good {
    background-color: #26AA4F;
}

input.results-search {
    display: inline-block;
    width: 20%;
    border: 1px solid #B0ADAD;
    border-radius: 30px;
    font-size: 1em;
    color: #000000;
    line-height: 20px;
    padding: 10px 20px;
}

button.submit-results-search {
    width: 50px;
    border: 1px solid #747474;
    border-radius: 0 30px 30px 0;
    margin-left: -50px;
    margin-right: 10px;
    background-color: #747474;
    font-size: 1em;
    line-height: 20px;
    color: #fff;
    padding: 10px 0;
}

input.submit-results-search:hover {
    background-color: #26AA4F;
}

.results-main {
    background-color: #E0DCDC;
}

.detail-main {
    background-color: #e1dddd;
    padding: 20px 0;
}

.results-nav .nav {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.5);
}

.results-table {
    width: 100%;
}

.results-table tr {
    background-color: #ECEAEA;
}

.results-table tr.clickable {
    cursor: pointer;
}

.results-table tr:nth-child(2n+1) {
    background-color: white;
}

.results-table tr:hover {
    background-color: #d1d1d1;
}

.results-table th {
    padding: 20px;
    margin: 0;
    background-color: #F6F6F6;
    font-weight: bold;
}

.results-table th.details {
    width: 60px;
}

.results-table th.score {
    width: 160px;
}

.results-table td {
    padding: 10px 20px;
    margin: 0;
}

.footer {
    background-color: #777;
    width: 100%;
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 20px 0;
}

.blend-on-hover:hover {
    mix-blend-mode: difference;
    opacity: 0.87;
}
