{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>NAT64 Check</title>
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% block content %}
        {% endblock %}

        <div class="footer">
            Developed by <a target="_blank" href="https://www.steffann.nl/">Sander Steffann</a>
            and <a target="_blank" href="https://www.go6.si/">Jan Žorž</a>.
            Design by <a target="_blank" href="https://www.simplyunderstand.com">Simply Understand</a>.
        </div>

        {% if settings.PIWIK_SITE_ID %}
            {% load piwik_tags %}
            {% tracking_code %}
        {% endif %}
    </body>
</html>
