{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>NAT64 Check</title>
        <link href="{% static 'css/v6score.css' %}" rel="stylesheet">
    </head>
    <body>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% block content %}
        {% endblock %}

        {% if settings.PIWIK_SITE_ID %}
            {% load piwik_tags %}
            {% tracking_code %}
        {% endif %}
    </body>
</html>
