{% extends 'v6score/base.html' %}

{% load static %}

{% block head %}
    <script type="application/javascript">
        function mark_resource(source, url, className, new_content) {
            source.innerText = new_content;

            if (url == '') {
                // No url, so nothing to do
                return;
            }

            var tr = document.querySelectorAll("tr[data-request='" + url + "']");
            if (tr[0]) {
                tr[0].className = className;
            }
        }

        function toggle_resource_table() {
            var row = document.getElementById('resource-table');
            if (row.style.display == 'none') {
                row.style.display = 'table-row';
            } else {
                row.style.display = 'none';
            }
        }
    </script>
{% endblock %}

{% block content %}
    <h1 class="detail"><a href="{% url 'overview' %}">
        nat64<span>check</span>
    </a></h1>

    <div class="details-header">
        <b>{{ measurement.hostname }}</b>

        <div class="retest">
            <form method="post" action="{% url 'overview' %}">
                {% csrf_token %}
                <input type="hidden" name="url" value="{{ url }}">
                <input type="hidden" name="force_new" value="1">

                <button {% if not measurement.finished %}disabled="disabled"{% endif %} class="retest-button">
                    {% if measurement.finished %}
                        <span class="fa fa-check"></span> Test again
                    {% else %}
                        <span class="fa fa-spin fa-spinner"></span> Test in progress
                    {% endif %}
                </button>
            </form>
        </div>

        <div class="last-test">
            Last test finished:<br>
            <b>{{ measurement.finished|date:"j F Y, H:i T"|default:"Never" }}</b>
        </div>
    </div>

    <div class="detail-main">
        <table class="measurement">
            {% if measurement.finished %}
                {% if measurement.v6only_score >= 0 or measurement.nat64_score >= 0 %}
                    <tr>
                        <th colspan="3">
                            Image match
                        </th>
                    </tr>
                    <tr>
                        <th class="top">
                            NAT64
                            {% if measurement.nat64_image_score == 0 or measurement.nat64_image_score is None %}
                                <div class="image-score poor"><span class="fa fa-bolt fa-lg"></span></div>
                            {% elif measurement.nat64_image_score < 0.8 %}
                                <div class="image-score poor">{% widthratio measurement.nat64_image_score 1 100 %}%</div>
                            {% elif measurement.nat64_image_score < 0.95 %}
                                <div class="image-score mediocre2">{% widthratio measurement.nat64_image_score 1 100 %}%</div>
                            {% else %}
                                <div class="image-score good">{% widthratio measurement.nat64_image_score 1 100 %}%</div>
                            {% endif %}
                        </th>
                        <th class="top">
                            IPv4-only
                        </th>
                        <th class="top">
                            IPv6-only
                            {% if measurement.v6only_image_score == 0 or measurement.v6only_image_score is None %}
                                <div class="image-score poor"><span class="fa fa-bolt fa-lg"></span></div>
                            {% elif measurement.v6only_image_score < 0.8 %}
                                <div class="image-score poor">{% widthratio measurement.v6only_image_score 1 100 %}%</div>
                            {% elif measurement.v6only_image_score < 0.95 %}
                                <div class="image-score mediocre2">{% widthratio measurement.v6only_image_score 1 100 %}%</div>
                            {% else %}
                                <div class="image-score good">{% widthratio measurement.v6only_image_score 1 100 %}%</div>
                            {% endif %}
                        </th>
                    </tr>
                    <tr>
                        {% spaceless %}
                            <td class="image">
                                {% if measurement.v4only_image and measurement.nat64_image %}
                                    <img alt="IPv4-only" src="{{ measurement.v4only_image.url }}">
                                    <a class="overlay" href="{{ measurement.nat64_image.url }}" target="_blank"
                                       title="Difference between IPv4-only and NAT64">
                                        <img class="blend-on-hover" alt="NAT64" src="{{ measurement.nat64_image.url }}">
                                    </a>
                                {% elif measurement.nat64_image %}
                                    <a href="{{ measurement.nat64_image.url }}" target="_blank">
                                        <img alt="NAT64" src="{{ measurement.nat64_image.url }}">
                                    </a>
                                {% else %}
                                    <img alt="No IPv4-only" src="{% static 'img/no-image.png' %}">
                                {% endif %}
                            </td>
                            <td class="image">
                                {% if measurement.v4only_image %}
                                    <a href="{{ measurement.v4only_image.url }}" target="_blank">
                                        <img alt="IPv4-only" src="{{ measurement.v4only_image.url }}">
                                    </a>
                                {% else %}
                                    <img alt="No IPv4-only" src="{% static 'img/no-image.png' %}">
                                {% endif %}
                            </td>
                            <td class="image">
                                {% if measurement.v4only_image and measurement.v6only_image %}
                                    <img alt="IPv4-only" src="{{ measurement.v4only_image.url }}">
                                    <a class="overlay" href="{{ measurement.v6only_image.url }}" target="_blank"
                                       title="Difference between IPv4-only and IPv6-only">
                                        <img class="blend-on-hover" alt="IPv6-only"
                                             src="{{ measurement.v6only_image.url }}">
                                    </a>
                                {% elif measurement.v6only_image %}
                                    <a href="{{ measurement.v6only_image.url }}" target="_blank">
                                        <img alt="IPv6-only" src="{{ measurement.v6only_image.url }}">
                                    </a>
                                {% else %}
                                    <img alt="No IPv6-only" src="{% static 'img/no-image.png' %}">
                                {% endif %}
                            </td>
                        {% endspaceless %}
                    </tr>

                    <tr>
                        <th colspan="3">Resources match</th>
                    </tr>
                    <tr onclick="toggle_resource_table()" style="cursor: pointer;">
                        {% spaceless %}
                            <td class="score-bar">
                                <div class="score-bar">
                                    {% if measurement.nat64_resource_score == 0 %}
                                        <div class="poor">Unreachable</div>
                                    {% elif measurement.nat64_resource_score < 0.8 %}
                                        <div class="poor"
                                             style="width: {% widthratio measurement.nat64_resource_score 1 100 %}%">
                                            {% widthratio measurement.nat64_resource_score 1 100 %}%
                                        </div>
                                    {% elif measurement.nat64_resource_score < 0.95 %}
                                        <div class="mediocre2"
                                             style="width: {% widthratio measurement.nat64_resource_score 1 100 %}%">
                                            {% widthratio measurement.nat64_resource_score 1 100 %}%
                                        </div>
                                    {% else %}
                                        <div class="good"
                                             style="width: {% widthratio measurement.nat64_resource_score 1 100 %}%">
                                            {% widthratio measurement.nat64_resource_score 1 100 %}%
                                        </div>
                                    {% endif %}
                                </div>
                            </td>
                            <td style="text-align: center; vertical-align: middle; font-size: 1.3em">▼ Click for details ▼</td>
                            <td class="score-bar">
                                <div class="score-bar">
                                    {% if measurement.v6only_resource_score == 0 %}
                                        <div class="poor">Unreachable</div>
                                    {% elif measurement.v6only_resource_score < 0.8 %}
                                        <div class="poor"
                                             style="width: {% widthratio measurement.v6only_resource_score 1 100 %}%">
                                            {% widthratio measurement.v6only_resource_score 1 100 %}%
                                        </div>
                                    {% elif measurement.v6only_resource_score < 0.95 %}
                                        <div class="mediocre2"
                                             style="width: {% widthratio measurement.v6only_resource_score 1 100 %}%">
                                            {% widthratio measurement.v6only_resource_score 1 100 %}%
                                        </div>
                                    {% else %}
                                        <div class="good"
                                             style="width: {% widthratio measurement.v6only_resource_score 1 100 %}%">
                                            {% widthratio measurement.v6only_resource_score 1 100 %}%
                                        </div>
                                    {% endif %}
                                </div>
                            </td>
                        {% endspaceless %}
                    </tr>

                    <tr id="resource-table" style="display: none">
                        <td class="resources" colspan="3">
                            <div class="resources">
                                <table class="resources">
                                    <tr>
                                        <th>URL</th>
                                        <th>NAT64-only</th>
                                        <th>IPv4-only</th>
                                        <th>IPv6-only</th>
                                    </tr>
                                    {% for resource in resources %}
                                        <tr data-request="{{ resource.url }}">
                                            <td>{{ resource.method }} {{ resource.url }}</td>
                                            <td title="{{ resource.nat64.location }}"
                                                class="{{ resource.nat64.status_class }}"
                                                onmouseenter="mark_resource(this, '{{ resource.nat64.location|escapejs }}', 'mark', '{{ resource.nat64.status_code }}')"
                                                onmouseleave="mark_resource(this, '{{ resource.nat64.location|escapejs }}', '', '{{ resource.nat64.status_text }}')"
                                            >{{ resource.nat64.status_text }}</td>
                                            <td title="{{ resource.v4only.location }}"
                                                class="{{ resource.v4only.status_class }}"
                                                onmouseenter="mark_resource(this, '{{ resource.v4only.location|escapejs }}', 'mark', '{{ resource.v4only.status_code }}')"
                                                onmouseleave="mark_resource(this, '{{ resource.v4only.location|escapejs }}', '', '{{ resource.v4only.status_text }}')"
                                            >{{ resource.v4only.status_text }}</td>
                                            <td title="{{ resource.v6only.location }}"
                                                class="{{ resource.v6only.status_class }}"
                                                onmouseenter="mark_resource(this, '{{ resource.v6only.location|escapejs }}', 'mark', '{{ resource.v6only.status_code }}')"
                                                onmouseleave="mark_resource(this, '{{ resource.v6only.location|escapejs }}', '', '{{ resource.v6only.status_text }}')"
                                            >{{ resource.v6only.status_text }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <th colspan="3">
                        The test failed because the website could not be loaded over IPv4.
                    </th>
                {% endif %}
            {% else %}
                <tr>
                    <th colspan="3">
                        {% if measurement.started %}
                            Please wait for the test to finish…
                        {% else %}
                            The test is scheduled for {{ measurement.requested|date:"j F Y, H:i T" }}, please wait for
                            it to start…
                        {% endif %}
                    </th>
                </tr>
            {% endif %}

            {% if measurement.dns_results or measurement.finished %}
                <tr>
                    <td class="separator">
                        <hr>
                    </td>
                    <td class="separator">
                        <hr>
                    </td>
                    <td class="separator">
                        <hr>
                    </td>
                </tr>

                <tr>
                    <th>DNS records</th>
                    <td>
                        {% for address in measurement.ipv4_dns_results %}
                            {{ address }}<br>
                        {% empty %}
                            None
                        {% endfor %}
                    </td>
                    <td>
                        {% for address in measurement.ipv6_dns_results %}
                            {{ address }}<br>
                        {% empty %}
                            None
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}

            {% if measurement.ping4_latencies or measurement.finished %}
                {% spaceless %}
                    <tr>
                        <td class="separator">
                            <hr>
                        </td>
                        <td class="separator">
                            <hr>
                        </td>
                        <td class="separator">
                            <hr>
                        </td>
                    </tr>

                    <tr>
                        <th>Ping</th>
                        <td>
                            {% include 'v6score/latency_data.html' with latencies=measurement.ping4_latencies %}
                        </td>
                        <td>
                            {% include 'v6score/latency_data.html' with latencies=measurement.ping6_latencies %}
                        </td>
                    </tr>

                    <tr>
                        <td class="separator">
                            <hr>
                        </td>
                        <td class="separator">
                            <hr>
                        </td>
                        <td class="separator">
                            <hr>
                        </td>
                    </tr>

                    <tr>
                        <th>Ping (1500 byte packets)</th>
                        <td>
                            {% include 'v6score/latency_data.html' with latencies=measurement.ping4_1500_latencies %}
                        </td>
                        <td>
                            {% include 'v6score/latency_data.html' with latencies=measurement.ping6_1500_latencies %}
                        </td>
                    </tr>

                    <tr>
                        <td class="separator">
                            <hr>
                        </td>
                        <td class="separator">
                            <hr>
                        </td>
                        <td class="separator">
                            <hr>
                        </td>
                    </tr>

                    <tr>
                        <th>Ping (2000 byte "packets")</th>
                        <td>
                            {% include 'v6score/latency_data.html' with latencies=measurement.ping4_2000_latencies %}
                        </td>
                        <td>
                            {% include 'v6score/latency_data.html' with latencies=measurement.ping6_2000_latencies %}
                        </td>
                    </tr>
                {% endspaceless %}
            {% endif %}

        </table>
    </div>

    {% if not measurement.finished %}
        <script type="application/javascript">
            setTimeout(function () {
                document.location.reload();
            }, 3900);
        </script>
    {% endif %}
{% endblock %}
