{% load static %}

{% if not measurement.finished %}
    <img src="{% static 'img/loading.gif' %}">
{% endif %}

<table>
    <tr>
        <th>URL:</th>
        <td>{{ measurement.url }}</td>
    </tr>
    <tr>
        <th>Test requested:</th>
        <td>{{ measurement.requested }}</td>
    </tr>
    <tr>
        <th>Test started:</th>
        <td>{{ measurement.started|default:'waiting for test to start' }}</td>
    </tr>
    {% if measurement.started %}
        <tr>
            <th>Test finished:</th>
            <td>{{ measurement.finished|default:'waiting for test to finish' }}</td>
        </tr>
    {% endif %}

    {% if measurement.dns_results or measurement.finished %}
        <tr>
            <th>&nbsp;</th>
            <td></td>
        </tr>
        <tr>
            <th>DNS records</th>
            <td>
                {% for address in measurement.dns_results %}
                    {{ address }}<br>
                {% empty %}
                    Unknown
                {% endfor %}
            </td>
        </tr>
    {% endif %}

    {% if measurement.ping4_latencies or measurement.finished %}
        <tr>
            <th>&nbsp;</th>
            <td></td>
        </tr>
        <tr>
            <th>IPv4 pings</th>
            <td>
                {% include 'v6score/latency_data.html' with latencies=measurement.ping4_latencies %}
            </td>
        </tr>
        <tr>
            <th>IPv4 pings (1500 byte packets)</th>
            <td>
                {% include 'v6score/latency_data.html' with latencies=measurement.ping4_1500_latencies %}
            </td>
        </tr>
        <tr>
            <th>IPv4 pings (2000 byte "packets")</th>
            <td>
                {% include 'v6score/latency_data.html' with latencies=measurement.ping4_2000_latencies %}
            </td>
        </tr>
        <tr>
            <th>IPv6 pings</th>
            <td>
                {% include 'v6score/latency_data.html' with latencies=measurement.ping6_latencies %}
            </td>
        </tr>
        <tr>
            <th>IPv6 pings (1500 byte packets)</th>
            <td>
                {% include 'v6score/latency_data.html' with latencies=measurement.ping6_1500_latencies %}
            </td>
        </tr>
        <tr>
            <th>IPv6 pings (2000 byte "packets")</th>
            <td>
                {% include 'v6score/latency_data.html' with latencies=measurement.ping6_2000_latencies %}
            </td>
        </tr>
    {% endif %}

    {% if measurement.finished %}
        <tr>
            <th>&nbsp;</th>
            <td></td>
        </tr>
        {% if measurement.v6only_score >= 0 or measurement.nat64_score >= 0 %}
            <tr>
                <th>IPv6-only image score:</th>
                {% if measurement.v6only_image_score == 0 %}
                    <td class="no-score">Unreachable</td>
                {% elif measurement.v6only_image_score < 0.8 %}
                    <td class="bad-score">{% widthratio measurement.v6only_image_score 1 100 %}%</td>
                {% elif measurement.v6only_score < 0.95 %}
                    <td class="mediocre-score">{% widthratio measurement.v6only_image_score 1 100 %}%</td>
                {% else %}
                    <td class="good-score">{% widthratio measurement.v6only_image_score 1 100 %}%</td>
                {% endif %}
            </tr>
            <tr>
                <th>IPv6-only resource score:</th>
                {% if measurement.v6only_resource_score == 0 %}
                    <td class="no-score">Unreachable</td>
                {% elif measurement.v6only_resource_score < 0.8 %}
                    <td class="bad-score">{% widthratio measurement.v6only_resource_score 1 100 %}%</td>
                {% elif measurement.v6only_score < 0.95 %}
                    <td class="mediocre-score">{% widthratio measurement.v6only_resource_score 1 100 %}%</td>
                {% else %}
                    <td class="good-score">{% widthratio measurement.v6only_resource_score 1 100 %}%</td>
                {% endif %}
            </tr>
            <tr>
                <th>NAT64 image score:</th>

                {% if measurement.nat64_image_score == 0 %}
                    <td class="no-score">Unreachable</td>
                {% elif measurement.nat64_image_score < 0.8 %}
                    <td class="bad-score">{% widthratio measurement.nat64_image_score 1 100 %}%</td>
                {% elif measurement.nat64_score < 0.95 %}
                    <td class="mediocre-score">{% widthratio measurement.nat64_image_score 1 100 %}%</td>
                {% else %}
                    <td class="good-score">{% widthratio measurement.nat64_image_score 1 100 %}%</td>
                {% endif %}
            </tr>
            <tr>
                <th>NAT64 resource score:</th>

                {% if measurement.nat64_resource_score == 0 %}
                    <td class="no-score">Unreachable</td>
                {% elif measurement.nat64_resource_score < 0.8 %}
                    <td class="bad-score">{% widthratio measurement.nat64_resource_score 1 100 %}%</td>
                {% elif measurement.nat64_score < 0.95 %}
                    <td class="mediocre-score">{% widthratio measurement.nat64_resource_score 1 100 %}%</td>
                {% else %}
                    <td class="good-score">{% widthratio measurement.nat64_resource_score 1 100 %}%</td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <th>No score:</th>
                <td>Website could not be requested over IPv4. Does it exist?</td>
            </tr>
        {% endif %}
    {% endif %}
</table>

