{% extends 'v6score/base.html' %}
{% load static %}

{% block content %}
    <form method="post" action="{% url 'request' %}" class="search-box">
        <img alt="nat64check" src="{% static 'img/nat64check-logo.png' %}"><br>
        <div class="centre-search-box">
            <div class="search-box-input">
                http://<input title="website" name="hostname" placeholder="www.example.com" value="{{ hostname }}">
            </div>
            <div class="search-box-submit">
                <button><img alt="Search"
                             title="Search"
                             src="{% static 'img/checkmark.png' %}">
                </button>
            </div>
        </div>
        {% csrf_token %}
    </form>
{% endblock %}
